@import 'null-styles.scss';
@import 'fonts.scss';

@mixin fonts($fonfam, $fonstyle, $fonwei, $fonsize, $lineheight, $color) {
    font-family: $fonfam;
    font-style: $fonstyle;
    font-weight: $fonwei;
    font-size: $fonsize;
    line-height: $lineheight;
    color: $color;
}

%wrapp {
    max-width: 1440px;
    margin: 0 auto;
}


// Solution styles start

.solutions {
    padding: 80px 130px;
    margin-bottom: 130px;
    background: #F9F9FA;
}

.solutions__subtitle {
    background: linear-gradient(90deg, #4343FF 0%, #F96D6D 100%);
    @include fonts('Open Sans', normal, 800, 1.2rem, 1.6rem, none);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.solutions__title {
    @include fonts('GalanoGrotesque-Medium', normal, 800, 4.6rem, 5.5rem, #110C11);
    margin: 0 auto;
    max-width: 840px;
    text-align: center;
}

.solutions__card-title {
    @include fonts('Open Sans', normal, 700, 1.7rem, 2.3rem, #110C11);
    text-transform: uppercase;
    margin-bottom: 30px;
}

.solutions__card-desc {
    @include fonts('Open Sans', normal, 400, 1.7rem, 2.6rem, #5C5C5C);
}

.solutions__wrapper {
    @extend %wrapp;
}

.solutions__caption {
    margin-bottom: 100px;
}

.solutions__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
    gap: 40px;
}

.solutions__card {
    padding: 20px;
    background: #FFFFFF;
}


// Solution styles end


// Conditions styles start

.conditions {
    padding: 60px 220px 60px 140px;
    margin-bottom: 100px;
    background: #FFFFFF;
}

.conditions__wrapper {
    @extend %wrapp;
    display: flex;
    align-items: center;
    gap: 60px;
}

.conditions__cards {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
}


.conditions__title {
    @include fonts('Open Sans', normal, 700, 3.6rem, 3.8rem, #56565A);
    margin-bottom: 15px;
}

.conditions__cta-desc {
    @include fonts('Open Sans', normal, 400, 1.6rem, 2.2rem, #56565A);
    margin-bottom: 30px;
}

.conditions__cta-more {
    @include fonts('Open Sans', normal, 600, 1.6rem, 2rem, #FFFFFF);
    background: #0A467E;
    padding: 12px 40px;
    text-align: center;
    max-width: 160px;
}

.conditions__card-title {
    @include fonts('Open Sans', normal, 700, 1.8rem, 2.2rem, #56565A);
    margin-bottom: 30px;
    text-align: center;
}

.conditions__card-desc {
    @include fonts('Open Sans', normal, 400, 1.4rem, 1.9rem, #56565A);
    text-align: center;
}

.conditions__card {
    padding: 20px;
    background: #F7F7F7;
}

.conditions__card-pic {
    margin-bottom: 20px;
}

.conditions__cta-buttons {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.conditions__card-thumb {
    margin: 0 auto;
}

// Conditions styles end


// Calculator styles start

.calculator {
    padding: 60px 100px 20px 100px;
    background: url('../img/main-icon.jpg') no-repeat;
    max-width: 1170px; 
    margin:0 auto;
    margin-bottom: 160px;
}

.calculator__cta{
    margin-bottom: 40px;
}

.calculator__cta-title {
    @include fonts('Open Sans', normal, 700, 2.8rem, 3rem, #fff);
    max-width: 590px;
    margin-bottom: 30px;
}

.calculator__cta-subtitle {
    @include fonts('Open Sans', normal, 600, 1.8rem, 2.2rem, #fff);
    margin-bottom: 20px;
}

.calculator__cta-desc {
    @include fonts('Open Sans', normal, 400, 1.6rem, 2.2rem, #fff);
    max-width: 400px;
    margin-bottom: 30px;
}

.calculator__more{
    @include fonts('Open Sans', normal, 400, 1.6rem, 2.2rem, #0A467E);
    background-color: #FFFFFF;
    text-align: center;
    padding: 10px 40px;
    border:#fff;
}

.calculator__footer {
    @include fonts('Open Sans', normal, 400, 1.4rem, 1.9rem, #8F989F);
}

// Calculator styles end


// Progress styles start


// Progress styles end


// Media queries start

@media only screen and (min-width: 1000px) {
    .conditions__card-lg {
        grid-row: 1 / 3;
        grid-column: 2 / 3;
    }
}

@media only screen and (max-width: 1000px) {
    .solutions {
        margin-bottom: 60px;

    }

    .solutions__title {
        @include fonts('GalanoGrotesque-Medium', normal, 800, 2.3rem, 2.8rem, #110C11);
    }

    .conditions__cards {
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }

    .calculator{
        max-width: 690px;
        padding:60px 30px 20px 30px;
        background: url('../img/main-icon-2.jpg') no-repeat;

    }

    .calculator__cta-title{
        max-width: 470px;
    }

}

@media only screen and (max-width: 550px) {
    .solutions {
        padding: 30px;
        margin-bottom: 60px;

    }

    .solutions__title {
        @include fonts('GalanoGrotesque-Medium', normal, 800, 2.3rem, 2.8rem, #110C11);
        margin: 0;
    }

    .solutions__card-title {
        margin-bottom: 20px;
    }

    .solutions__caption {
        margin-bottom: 30px;
    }

    .solutions__cards {
        grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
        gap: 10px;
    }

    .conditions {
        padding: 0;
    }

    .conditions__wrapper {
        display: block;
    }

    .conditions__cta {
        margin: 30px;
    }

    .conditions__cards {
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    }

    .calculator{
        max-width: 290px;
        padding:30px;
        background: url('../img/main-icon-3.jpg')  no-repeat;

    }

    .calculator__cta-title{
        @include fonts('Open Sans', normal, 700, 2rem, 2.4rem, #fff);
        margin-bottom: 15px;
        max-width: 180px;
    }
    .calculator__cta{
        margin-bottom: 15px;
    }

    .calculator__cta-subtitle {
        @include fonts('Open Sans', normal, 600, 1.8rem, 2.2rem, #fff);
    }
    
    .calculator__cta-desc {
        @include fonts('Open Sans', normal, 400, 1.5rem, 2rem, #fff);
        max-width: 230px;
        margin-bottom: 15px;
    }

    .calculator__footer {
        color: #fff;
    }

}

// Media queries end