@import 'null_styles.scss';

@mixin fonts($fonfam, $fonstyle, $fonwei, $fonsize, $lineheight) {
    font-family: $fonfam;
    font-style: $fonstyle;
    font-weight: $fonwei;
    font-size: $fonsize;
    line-height: $lineheight;
}

%wrapp{
    max-width: 1440px;
    margin: 0 auto;
}

.solutions{
    padding: 80px 130px;
    margin-bottom: 130px;
}

.solutions__subtitle {
    background: linear-gradient(90deg, #4343FF 0%, #F96D6D 100%);
    @include fonts('Open Sans', normal, 800, 1.2rem, 1.6rem);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-emphasis-color: transparent;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.solutions__title{
    @include fonts('GalanoGrotesque-Medium', normal, 800, 4.6rem, 5.5rem);
    margin: 0 auto;
    width: 845px;
    text-align: center;
    color: #110C11;
}

.solutions__card-title{
    @include fonts('Open Sans', normal, 700, 1.7rem, 2.3rem);
    text-transform: uppercase;
    color: #110C11;
    margin-bottom: 30px;
}

.solutions__card-desc{
    @include fonts('Open Sans', normal, 400, 1.7rem, 2.6rem);
    color: #5C5C5C;
}

.solutions__wrapper{
    @extend %wrapp;
}

.solutions__caption{
    margin-bottom: 100px;
}

.solutions__cards{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 40px;
}

.solutions__card{
    grid-column: span 2;
    padding: 20px;
}